<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
		<a class="navbar-brand" ui-sref="app">Service Locator</a>
    </div>

<!--    Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Services <span class="sr-only">(current)</span></a></li>
        <li><a ui-sref="app.aboutus">About us</a> </li>
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!loggedIn"><a id="login" ng-click="openLogin()">Login</a></li>
        <li ng-if="loggedIn" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}} <img src="images/profile.png" id="userImg" class="img-circle img-thumbnail"  style="height:25px;width:auto;"><span class="caret"></span></a>
          <ul class="dropdown-menu">
			  <li><a href="#">Mark Busy/Available</a></li>
			  <li role="separator" class="divider"></li>
            <li><a href="#">View Profile</a></li>
            <li><a href="#">Edit Profile</a></li>			
			<li role="separator" class="divider"></li>
            <li><a ui-sref="app.requestsPage({SPId:1})">View Requests</a></li>
			<li role="separator" class="divider"></li>
            <li><a href="#">View Schedule</a></li>
			<li><a href="#">Update Schudule</a></li>
            <li role="separator" class="divider"></li>
			<li><a href="#">View Enquiry</a></li>
            <li role="separator" class="divider"></li>
			<li><a ng-click="logOut()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse--> 
  </div><!-- /.container-fluid -->
</nav>
	<div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login </h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" role="search" ng-submit="doLogin()">
                    <div class="form-group">
                        <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    
                    <button type="submit" class="btn btn-info">Sign in</button>
                    <button type="button" class="btn btn-default btn-sm"
                       data-dismiss="modal">Cancel</button>
                </form> 
				<hr>
				Don't have an account? <a href="/signUp"> Sign up</a>
            </div>
        </div>
        </div>
    </div> 
		<div id="bookingModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Booking reqest message </h4>
            </div>
            <div class="modal-body">
                <form class="form" ng-submit="doBooking()">
                    <div class="form-group">
						<textarea class="form-control" rows="5" id="custMsg" name="custMsg" placeholder="Message"></textarea>
                    </div>            
                    <button type="submit" class="btn btn-info">Book</button>
                    <button type="button" class="btn btn-default btn-sm"
                       data-dismiss="modal">Cancel</button>
                </form> 
            </div>
        </div>
        </div>
    </div> 
		<header>
			<h4>Easy way to a relaxing Lifestyle. Find your desired home services right here!</h4>
        <!-- Main component for a primary marketing message or call to action -->
              <!--  <div class="page-header">
                    <h1 st>Service Locator</h1>
                    <h4>Easy way to a relaxing Lifestyle. Find your desired home services right here!</h4>
                </div>--->
    </header>

<script>        
        $('#login').click(function(){
            $('#loginModal').modal('toggle');
        });
 </script>
	<script>
		$('#booking').click(function(){
            $('#bookingModal').modal('toggle');
        });
    </script>
	